# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [197]:
import numpy as np
import pandas as pd

## imports for Python, Pandas

In [198]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [199]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [200]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

/tmp/ipykernel_3159/635590451.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [201]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

/tmp/ipykernel_3159/2829878384.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [202]:
# load json as string
# temp comment out, re-comment this later
# json.load((open('data/world_bank_projects_less.json')))

In [203]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

### My Notes

In [204]:
sample_json_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

In [205]:
type(sample_json_df)

pandas.core.frame.DataFrame

In [206]:
bank_projects_json_df = pd.read_json('data/world_bank_projects.json')

In [207]:
bank_projects_json_df.head(3)

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}

In [208]:
print(len(sample_json_df))
print(len(bank_projects_json_df))

2
500

In [209]:
bank_projects_json_df[['countryname']].head()

                               countryname
0  Federal Democratic Republic of Ethiopia
1                      Republic of Tunisia
2                                   Tuvalu
3                        Republic of Yemen
4                       Kingdom of Lesotho

In [210]:
bank_projects_json_df.groupby('countryname').agg('count')[0:3]

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,sector3,majorsector_percent,board_approval_month,theme_namecode,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
countryname,,,,,,,,,,,,,,,,,,,,,
Africa,11,11,11,11,11,11,8,11,11,7,...,7,11,11,11,11,11,11,11,11,11
Antigua and Barbuda,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Arab Republic of Egypt,2,2,2,2,2,2,2,2,2,2,...,0,2,2,2,2,2,2,2,2,2

In [211]:
bank_projects_json_df.groupby('countryname')['project_name'].agg('count').sort_values(ascending=False)

countryname
People's Republic of China       19
Republic of Indonesia            19
Socialist Republic of Vietnam    17
Republic of India                16
Republic of Yemen                13
                                 ..
Antigua and Barbuda               1
Republic of Kiribati              1
Republic of Serbia                1
Republic of Poland                1
Republic of Zimbabwe              1
Name: project_name, Length: 118, dtype: int64

### work for question 2

In [212]:
bank_projects_json_df.head(3)

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}

In [213]:
bank_projects_json_df[['mjtheme_namecode']].head()

                                    mjtheme_namecode
0  [{'code': '8', 'name': 'Human development'}, {...
1  [{'code': '1', 'name': 'Economic management'},...
2  [{'code': '5', 'name': 'Trade and integration'...
3  [{'code': '7', 'name': 'Social dev/gender/incl...
4  [{'code': '5', 'name': 'Trade and integration'...

In [214]:
#json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])
print(type(data))
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

<class 'list'>

/tmp/ipykernel_3159/3024913753.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [215]:
import numpy as np
#bank_projects_json_df.groupby('mjtheme_namecode').agg('count')

In [216]:
bank_less_string = json.load((open('data/world_bank_projects_less.json')))
type(bank_less_string)
bank_less_string
bb = json_normalize(bank_less_string)
#json_normalize(bank_less_string, 'counties', ['state', 'shortname', ['info', 'governor']])
bb.columns

/tmp/ipykernel_3159/235374699.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  bb = json_normalize(bank_less_string)

Index(['approvalfy', 'board_approval_month', 'boardapprovaldate', 'borrower',
       'closingdate', 'country_namecode', 'countrycode', 'countryname',
       'countryshortname', 'docty', 'envassesmentcategorycode', 'grantamt',
       'ibrdcommamt', 'id', 'idacommamt', 'impagency', 'lendinginstr',
       'lendinginstrtype', 'lendprojectcost', 'majorsector_percent',
       'mjsector_namecode', 'mjtheme', 'mjtheme_namecode', 'mjthemecode',
       'prodline', 'prodlinetext', 'productlinetype', 'project_name',
       'projectdocs', 'projectfinancialtype', 'projectstatusdisplay',
       'regionname', 'sector', 'sector_namecode', 'sectorcode', 'source',
       'status', 'supplementprojectflg', 'theme_namecode', 'themecode',
       'totalamt', 'totalcommamt', 'url', '_id.$oid', 'project_abstract.cdata',
       'sector1.Name', 'sector1.Percent', 'sector2.Name', 'sector2.Percent',
       'sector3.Name', 'sector3.Percent', 'sector4.Name', 'sector4.Percent',
       'theme1.Name', 'theme1.Percent'],
      dtype='object')

In [217]:
bank_string = json.load((open('data/world_bank_projects.json')))
#project_themes = bank_string['mjtheme_namecode']
bank_df_normalised = json_normalize(bank_string, 'mjtheme_namecode',['countryname'])

json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

print(bank_df_normalised.columns)
print(bank_projects_json_df['mjtheme_namecode'])
print(bank_projects_json_df.columns)
type(bank_df_normalised)
bank_df_normalised
#bank_df_normalised['mjtheme_namecode']

Index(['code', 'name', 'countryname'], dtype='object')
0      [{'code': '8', 'name': 'Human development'}, {...
1      [{'code': '1', 'name': 'Economic management'},...
2      [{'code': '5', 'name': 'Trade and integration'...
3      [{'code': '7', 'name': 'Social dev/gender/incl...
4      [{'code': '5', 'name': 'Trade and integration'...
                             ...
495    [{'code': '4', 'name': 'Financial and private ...
496    [{'code': '8', 'name': 'Human development'}, {...
497    [{'code': '10', 'name': 'Rural development'}, ...
498    [{'code': '10', 'name': 'Rural development'}, ...
499    [{'code': '9', 'name': 'Urban development'}, {...
Name: mjtheme_namecode, Length: 500, dtype: object
Index(['sector', 'supplementprojectflg', 'projectfinancialtype', 'prodline',
       'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode',
       'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty',
       'sector1', 'lendinginstr', 'countrycode', 'sector2', 'totalamt',
       'mjtheme_namecode', 'boardapprovaldate', 'countryshortname', 'sector4',
       'prodlinetext', 'productlinetype', 'regionname', 'status',
       'country_namecode', 'envassesmentcategorycode', 'project_abstract',
       'approvalfy', 'projectdocs', 'lendprojectcost', 'lendinginstrtype',
       'theme1', 'grantamt', 'themecode', 'borrower', 'sectorcode', 'sector3',
       'majorsector_percent', 'board_approval_month', 'theme_namecode',
       'countryname', 'url', 'source', 'projectstatusdisplay', 'ibrdcommamt',
       'sector_namecode', '_id'],
      dtype='object')

/tmp/ipykernel_3159/1036650171.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  bank_df_normalised = json_normalize(bank_string, 'mjtheme_namecode',['countryname'])
/tmp/ipykernel_3159/1036650171.py:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

,code,name,countryname
0,8,Human development,Federal Democratic Republic of Ethiopia
1,11,,Federal Democratic Republic of Ethiopia
2,1,Economic management,Republic of Tunisia
3,6,Social protection and risk management,Republic of Tunisia
4,5,Trade and integration,Tuvalu
...,...,...,...
1494,10,Rural development,Republic of Indonesia
1495,9,Urban development,Republic of Kenya
1496,8,Human development,Republic of Kenya
1497,5,Trade and integration,Republic of Kenya
1498,4,Financial and private sector development,Republic of Kenya

### work for question 3

In [218]:
bank_df_normalised["name"]
bank_projects_blank_filter = bank_df_normalised['name'] == ""
bank_df_normalised[bank_projects_blank_filter]

     code name                              countryname
1      11       Federal Democratic Republic of Ethiopia
13      6                             Republic of Kenya
17      8                    People's Republic of China
19      7                             Republic of India
24      2                       Republic of South Sudan
...   ...  ...                                      ...
1457    4                                      Mongolia
1477   11                            West Bank and Gaza
1481    5               People's Republic of Bangladesh
1483    8                                         Nepal
1491    6                            Republic of Guinea

[122 rows x 3 columns]

In [219]:
bank_df_normalised[bank_projects_blank_filter]

     code name                              countryname
1      11       Federal Democratic Republic of Ethiopia
13      6                             Republic of Kenya
17      8                    People's Republic of China
19      7                             Republic of India
24      2                       Republic of South Sudan
...   ...  ...                                      ...
1457    4                                      Mongolia
1477   11                            West Bank and Gaza
1481    5               People's Republic of Bangladesh
1483    8                                         Nepal
1491    6                            Republic of Guinea

[122 rows x 3 columns]

In [220]:
bank_df_normalised.groupby('code')["name"].agg(['min','max'])

def valid_name(code):
    return code_names.loc[code]

code_names = bank_df_normalised.groupby('code')["name"].agg(['max'])
print(type(code_names.loc["1"]))
code_names.loc["8"]
type(valid_name("7"))
valid_name("7")

#bank_df_normalised['official_name2'] = [code_names.loc["1"]]
bank_df_normalised['official_name2'] = bank_df_normalised['code']
bank_df_normalised['official_name2'] = "4 is four"
#bank_df_normalised['official_name'] = valid_name(bank_df_normalised["code"])
bank_df_normalised

k = code_names.loc["1"]
type(k)
type(bank_df_normalised['official_name2'])
bank_df_normalised['official_name2'] = bank_df_normalised['code'].apply(valid_name, 3)
k
#bank_df_normalised['official_name2']
bank_df_normalised[bank_df_normalised["code"] == "9"]

<class 'pandas.core.series.Series'>

,code,name,countryname,official_name2
53,9,Urban development,Nepal,Urban development
183,9,Urban development,Kingdom of Morocco,Urban development
194,9,Urban development,Burkina Faso,Urban development
200,9,Urban development,Republic of Mozambique,Urban development
318,9,Urban development,Republic of Benin,Urban development
320,9,Urban development,Republic of Benin,Urban development
333,9,,People's Republic of China,Urban development
341,9,Urban development,Republic of Honduras,Urban development
354,9,Urban development,Islamic Republic of Mauritania,Urban development
356,9,Urban development,Islamic Republic of Mauritania,Urban development
369,9,Urban development,Federative Republic of Brazil,Urban development
414,9,Urban development,Republic of Ghana,Urban development
447,9,Urban development,Republic of Togo,Urban development
460,9,,Socialist Republic of Vietnam,Urban development
471,9,,People's Republic of China,Urban development
512,9,Urban development,West Bank and Gaza,Urban development
513,9,Urban development,West Bank and Gaza,Urban development
535,9,Urban development,Africa,Urban development
570,9,Urban development,Republic of India,Urban development
585,9,Urban development,People's Republic of China,Urban development
597,9,Urban development,Democratic Republic of the Congo,Urban development
598,9,Urban development,Democratic Republic of the Congo,Urban development
650,9,Urban development,Socialist Republic of Vietnam,Urban development
669,9,Urban development,Republic of Mozambique,Urban development
732,9,Urban development,People's Republic of China,Urban development
737,9,Urban development,Republic of Uganda,Urban development
738,9,Urban development,Republic of Uganda,Urban development
739,9,Urban development,Republic of South Sudan,Urban development
742,9,Urban development,Republic of South Sudan,Urban development
822,9,Urban development,People's Republic of China,Urban development
917,9,Urban development,Kingdom of Thailand,Urban development
930,9,Urban development,Republic of Rwanda,Urban development
940,9,Urban development,Kingdom of Morocco,Urban development
962,9,Urban development,Middle East and North Africa,Urban development
1095,9,Urban development,Republic of Honduras,Urban development
1102,9,Urban development,Republic of Colombia,Urban development
1103,9,Urban development,Republic of Colombia,Urban development
1104,9,Urban development,Republic of Colombia,Urban development
1166,9,Urban development,West Bank and Gaza,Urban development
1290,9,Urban development,United Republic of Tanzania,Urban development
1303,9,Urban development,Plurinational State of Bolivia,Urban development
1318,9,Urban development,Nepal,Urban development
1342,9,Urban development,Africa,Urban development
1347,9,Urban development,People's Republic of Bangladesh,Urban development
1425,9,Urban development,Islamic Republic of Pakistan,Urban development
1426,9,Urban development,Islamic Republic of Pakistan,Urban development
1428,9,Urban development,Republic of Indonesia,Urban development
1470,9,Urban development,The Independent State of Papua New Guine,Urban development
1473,9,Urban development,The Independent State of Papua New Guine,Urban development
1495,9,Urban development,Republic of Kenya,Urban development

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

1. Find the 10 countries with most projects

In [221]:
top_10_countries_with_projects = bank_projects_json_df.groupby('countryname')['project_name'].agg('count').sort_values(ascending=False)[:10]
#type(top_10_countries_with_projects) # Series
#top_10_countries_with_projects.index # exists
top_10_countries_with_projects

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Republic of Mozambique             11
Africa                             11
Name: project_name, dtype: int64

2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [222]:
bank_string = json.load((open('data/world_bank_projects.json')))
bank_df_normalised = json_normalize(bank_string, 'mjtheme_namecode',['countryname'])
print(bank_df_normalised.columns)
bank_df_normalised

# Answer
bank_df_normalised.groupby('name')['countryname'].agg('count').sort_values(ascending=False)[:10]

Index(['code', 'name', 'countryname'], dtype='object')

/tmp/ipykernel_3159/1207042706.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  bank_df_normalised = json_normalize(bank_string, 'mjtheme_namecode',['countryname'])

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: countryname, dtype: int64

3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [223]:
# don't actually use this filter, couldn't work out how to 'apply to a slice'
# so the entire column ends up being updated, not just the blank entries.
bank_projects_blank_filter = bank_df_normalised['name'] == ""

def valid_name(code):
    return code_names.loc[code]

bank_df_normalised['name'] = bank_df_normalised['code'].apply(valid_name)

bank_df_normalised[bank_projects_blank_filter]

,code,name,countryname
1,11,Environment and natural resources management,Federal Democratic Republic of Ethiopia
13,6,Social protection and risk management,Republic of Kenya
17,8,Human development,People's Republic of China
19,7,Social dev/gender/inclusion,Republic of India
24,2,Public sector governance,Republic of South Sudan
...,...,...,...
1457,4,Financial and private sector development,Mongolia
1477,11,Environment and natural resources management,West Bank and Gaza
1481,5,Trade and integration,People's Republic of Bangladesh
1483,8,Human development,Nepal
1491,6,Social protection and risk management,Republic of Guinea