In [1]:
import pandas as pd

In [4]:
#http://insideairbnb.com/get-the-data/

df = pd.read_csv('http://data.insideairbnb.com/the-netherlands/north-holland/amsterdam/2022-09-07/data/reviews.csv.gz')
df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,515749,1671407,2012-07-09,2640670,Gregory,If you want the authentic Amsterdam houseboat ...
2,515749,1715674,2012-07-15,1032804,Michael,Unique and luxurious to be sure. I couldn't re...
3,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
4,515749,1963378,2012-08-12,503786,Brian,My wife and I recently stopped in Amsterdam fo...